@page "/buttons"

<h3>Button Test</h3>


<div class="container">
    <div class="btn-toolbar">

        <button class="btn btn-primary"> 

            <span class="fa fa-home"></span>
            Primary Button
        </button>
        <br/>
        <button class="btn btn-danger"> 
            <span class="fa fa-exclamation"></span>Danger Button
        </button><br />


        <button class="btn btn-info"> Info Button</button><br />
        <button class="btn btn-link"> Link Button</button><br />
        <button class="btn btn-warning"> Warring Button</button>

    </div>
</div>


@code {

}
